<div [formGroup]="this.formGroup" class="d-flex" tourAnchor="edit-recuperation-days-data">
    <div class="d-flex flex-column flex-1">
        <label for="recuperationDays">Jours de récupération</label>
        <input type="number" pInputText id="recuperationDays" formControlName="days" />
    </div>
    @if(isEditing){
    <div class="d-flex flex-column">
        <label for="date">Date</label>
        <input type="date" id="date" pInputText formControlName="date" />
    </div>
    <div class="d-flex flex-column">
        <label for="reason">Raison</label>
        <input type="text" id="reason" pInputText formControlName="reason" />
    </div>
    <div class="d-flex" tourAnchor="edit-recuperation-days-confirm">
        <p-button class="mt-auto" severity="success" icon="pi pi-check" [disabled]="!this.formGroup.valid" (click)="commit()"></p-button>
        <p-button class="mt-auto" severity="danger" icon="pi pi-times" (click)="cancel()"></p-button>
    </div>
    } @else {
    <p-button class="mt-auto" tourAnchor="edit-recuperation-days" (click)="edit()" icon="pi pi-pencil"></p-button>
    <p-button icon="pi pi-times" class="v-hidden"></p-button>
    }
</div>
